nav{
    background-color: #223A62;
    color: white;
    margin-left: 70px;
    height: 50px;
    
}
.btn-login{
  color: white;
}
.loginid{
margin-left: 60px;
}
/* .navbar-brand:hover{
  background: #00648E;
} */

