div.container{
    color : #333;
    margin-left: 150px;
    margin-right: 60px;
    margin-top : 50px;
  padding: 8px;
  height: 1000px;
}
.collapsed{
    margin-left : 70px;
} 
.btn-search{
    background-color: #B7C9FB;
    outline-color: #223A62;
}
.btn-search:hover{
  border-color: #223A62;
}

/* .main-content-expanded {
    margin-left: 250px; 
    transition: margin-left 0.3s;
  }
  
 
  .main-content-collapsed {
    margin-left: 70px; 
    transition: margin-left 0.3s;
  } */
  